#overlay
  div(id="close")
    span
  div#back-content
    include /component/_site-menu
    include /component/_back-content-menu
    include /component/_post-calendar
    include /component/_post-status
