#menu
  div#menu-inner
    div(id="close")
      span
    #menu-story
      div.widget-wrap
        h3 pages
        ul
          li
            a(href="/archives") archives

      div.widget-wrap
        h3 story
        ul
          each info_cat in info_category
            li
              a(href="#") #{info_cat.name}