#menu
  div#menu-inner
    div(id="close")
      span
    #menu-story
      div.widget-wrap
        h3 story
        ul
          each info_cat in info_category
            li
              a(href="#") #{info_cat.name}
          - for(var i=0; i <= 100; i++)
            li test