section#new-story
  article(id="story01")
    a(href="/post/")
      div#new-story-entrance
        span.story-category WordPress
        h1 SiteGuard有効時にログインが404エラー
        div#new-story-information
          ul.story-status
            li
              span.story-publish October 14, 2019 - 22℃
          p 急に管理画面にログインできなくなったので、焦ってたらセキュリティを向上させる「SiteGurd」プラグインが自動的にログインページのURLを変更する仕組みのようだ。急にと思ったが、そもそもの機能を理解してなかった。
        div.btn.btn-readmore read more
      div#new-story-image(style='background-image: url(/assets/img/figure/figure-01.jpg')
      //- canvas#new-story-image(data-figure='/assets/img/figure/figure-01.jpg')
