header
  h1 解決: O’Reilly の サーバーレスシングルページアプリケーション – 50P「3.1 ビューを作成する」の問題

  div.article-meta
    ul
      li Updated on 12 May,2019
      li Posted on 12 May,2019
      li 22℃
      li <a href="/archive/">WodPress</a>

  figure.article-eyecatch.cl.photo
    div(class="article-eyecatch-image outline" style="background-image: url("+dir+"assets/img/figure/figure-15.jpg")
    figcaption Mountain: 2019-10-09

div.article-body

  h2 Heading Two
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  h3 Heading Three
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  h4 Heading Four
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  h5 Heading Five
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  h6 Heading Six
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  hr.wp-block-separator

  ul
    li
      a(href="#") リンクテキスト
    li
      a(href="#") リンクテキスト

  hr.wp-block-separator

  pre(class="wp-block-code")
    code
      :escape-html
        server {
          〜省略〜
          rewrite ^/wp/login_{xxxxx}(.*)$ /wp/wp-login.php$1 break;
        }
        <strong>TEST</strong>
        <script>alert('test');</script>

  hr.wp-block-separator

  p <strong>本書</strong>に記述されている内容で進めていると<strong>テストコード</strong>が通らなくハマっていたのでメモ。
  p 結果として、<i>テストコード</i>の<a href="#">public/tests/app_spec.js</a>の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。
  p 本書に記述されている<a href="#" target="_blank">内容で進めているとテストコード</a>が通らなくハマっていたのでメモ。
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。
  p 本書に記述されている内容で進めているとテストコードが通らなくハマっていたのでメモ。
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。
  p 本書に記述されている内容で進めているとテストコードが通らなくハマっていたのでメモ。
  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  hr.wp-block-separator

  ol
    li Nullam id dolor id nibh ultricies vehicula ut id elit.
    li Donec ullamcorper nulla non metus auctor fringilla.
      ol
        li Condimentum euismod aenean.
        li Purus commodo ridiculus.
        li Nibh commodo vestibulum.
    li Cras justo odio, dapibus ac facilisis in.

  hr.wp-block-separator

  ul
    li Nullam id dolor id nibh ultricies vehicula ut id elit.
    li Donec ullamcorper nulla non metus auctor fringilla.
      ul
        li Nibh commodo vestibulum.
        li Aenean eu leo quam.
        li Pellentesque ornare sem lacinia.
    li Cras justo odio, dapibus ac facilisis in.

  hr.wp-block-separator

  table.wp-block-table
    caption Caption
    thead
      tr
        th th01
        th th02
        th th03
    tbody
      tr
        td Employee
        td Salary
        td Position
      tr
        td Jane Doe
        td $100k
        td CEO
      tr
        td John Doe
        td $100k
        td CTO
      tr
        td Jane Bloggs
        td $100k
        td Engineering
      tr
        td Fred Bloggs
        td $100k
        td Marketing

  hr.wp-block-separator

  pre
    code.language-css
      :escape-html
        p { color: red }
        p { color: red }

  figure.wp-block-embed-youtube.aligncenter.wp-block-embed.is-type-video.is-provider-youtube.wp-embed-aspect-16-9.wp-has-aspect-ratio
    .wp-block-embed__wrapper
      iframe(title='SINGULARITY | Cinematic Sound Effects Library' width='500' height='281' src='https://www.youtube.com/embed/t2mYNBmbFx4?feature=oembed' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    figcaption SINGULARITY | Cinematic Sound Effects Library

  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  .wp-block-columns
    - for (var i=1; i<=2; i++)
      .wp-block-column
        figure.wp-block-image.size-large
          img(src='/assets/img/figure/figure-10.jpg')
          figcaption CAP01
        p サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。

  .wp-block-columns
    - for (var i=1; i<=3; i++)
      .wp-block-column
        figure.wp-block-image.size-large
          img(src='/assets/img/figure/figure-10.jpg')
          figcaption CAP01
        p サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。

  .wp-block-media-text.alignwide.is-stacked-on-mobile
    figure.wp-block-media-text__media
      img(src='/assets/img/figure/figure-10.jpg' alt)
    .wp-block-media-text__content
      p.has-large-font-size サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。

  p 結果として、テストコードの public/tests/app_spec.js の記述が8ページ先で修正を行っていて、ハマっていた章では、問題なく表示されると記述されていたのでタイポなのか、本書の問題なのかじっくり間違い探しをしつつ、解決策を考える。

  .wp-block-columns
    .wp-block-column.affiliate(style='flex-basis:33.33%')
      iframe(style='width:120px;height:240px;' marginwidth='0' marginheight='0' scrolling='no' frameborder='0' src='https://rcm-fe.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=rearrange-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B00QK0OYII&linkId=dfa56291126693ca907d6eacae9c5d42&bc1=000000&lt1=_blank&fc1=333333&lc1=d57339&bg1=ffffff&f=ifr')
    .wp-block-column(style='flex-basis:66.66%')
      h3
        span#lwptoc 用途
      ul
        li 金属
        li 硬質プラスチック
        li 合成ゴム
        li 木材
        li 紙
        li 皮
        li 合皮
        li 陶磁器
        li タイルの接着/補修

  video(src=dir+"/assets/video/pc.mp4" autoplay="" muted="" playsinline="" loop="")
