div.single-footer-related
  div.single-footer-related-container(style='background-image: url(/assets/img/figure/figure-14.jpg')
    div.heading Related Articles
    div.single-footer-related-wrapper
      - for (var i=0; i<4; i++)
        - var x = i;
        div.single-footer-related-box
          div.single-footer-related-box-figure(style='background-image: url(/assets/img/figure/figure-14.jpg')