footer
  div.article-meta
    ul
      li Updated on 12 May,2019
      li Posted on 12 May,2019
      li
        a(href="#") WordPress
    div.article-meta-tag
      div.article-meta-tag-heading tags:
      div.article-meta-tag-wrapper
        div.tag
          a(href="/tag/") 雨
        div.tag
          a(href="/tag/") WordPress
        div.tag
          a(href="/tag/") サーバーレス
  div.article-single-navigation
    div.article-single-prev.navi
      a(href="#") Previous post
    div.article-single-next.navi
      a(href="#") Next post
