.story {
  &-past {
    article {
      &.other {
        min-height: 610px;

        .story-figure {
          height: 285px;
          padding-top: 76.407506702%;
          background-position: center center;
          background-size: cover;

          &.right {
            background-position: center right;
          }

          &.left {
            background-position: center left;
          }
        }
      }
    }
  }
}