.story-archives {
  width: 980px;

  @media #{$small} {
    width: 100%;
  }

  &-block {
    margin: 0 0 50px;

    @media #{$small} {
      padding: 0 20px;
    }
  }

  &-category {
    margin: 0 0 15px;

    @include font-size(24,24);

    font-family: $font-family-raleway;

    span {
      @include font-size(12,12);

      vertical-align: middle;
    }
  }

  &-list {
    margin: 0 0 8px;

    @media #{$small} {
      margin-bottom: 13px;
    }

    a {
      @include font-size(15,24);

      span {
        @include font-size(12,12);

        vertical-align: middle;

        &:before {
          content: '-';
          margin: 0 10px;
        }
      }
    }
  }
}