.single {
  #global-header {
    border-bottom: 1px solid $color-border;
  }

  .article {
    width: 980px;
    margin: 0 auto;
    border: none;

    @media #{$small} {
      width: 100%;
    }

    a {
      display: inline-block;
    }

    header {
      &:after {
        content: '⋯';
        display: block;
        margin: 0 0 20px;
        text-align: center;
        color: #333;
      }
    }

    footer {
      margin: 50px 0;
    }

    h1+*, h2+*, h3+*, h4+*, h5+*, h6+* {
      margin-top: .8em;
    }

    h1 {
      display: block;
      margin: 40px 0 35px;
      color: #404040;
      text-align: center;
    }

    &-eyecatch {
      transition: 0.5s;

      &-image {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &.outline {
          border: 1px solid $color-border;
          transition: 0.5s;

          @media #{$small} {
            margin-top: 10px;
            border: none;
            border-top: 1px solid #E9E9EB;
          }
        }

        &.right {
          @media #{$small} {
            background-position: center right;
          }
        }

        &.left {
          @media #{$small} {
            background-position: center left;
          }
        }
      }

      figcaption {
        padding: 15px 10px;
        opacity: 0;
        transition: 0.5s;
        text-align: right;
        @include font-size(12,12);
        font-weight: bold;

        @media #{$small} {
          opacity: 1;
          color: #fff;
          background-color: #000;
        }
      }

      &:hover {
        box-shadow: 0 10px 90px -30px rgba(0,0,0,0.4);

        @media #{$small} {
          box-shadow: none;
        }

        .outline {
          border-color: #000;

          @media #{$small} {
            border-color: #E9E9EB;
          }
        }

        figcaption {
          opacity: 1;
          color: #fff;
          background-color: #000;
        }
      }

      .aligncenter {
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-body {
      @media #{$small} {
        padding: 0 20px;
      }

      & > *:last-of-type {
        margin-bottom: 50px;
      }

      hr {
        margin: 30px 0;
      }

      a {
        position: relative;
        padding: 0 20px 1px 4px;
        text-decoration: underline;
        color: #d57339;
        transition: all 0.2s ease-out;
        z-index: 2;

        &:hover {
          color: #fff;
          background-color: #d57339;
          text-decoration: none;

          &:after {
            color: #fff;
          }
        }

        &:after {
          content: "\e900";
          position: absolute;
          top: 3px;
          right: 3px;
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;

          @include font-size(12,12);

          color: #333;

          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          &:hover {
            color: #fff;
          }
        }
      }

      p {
        @include font-size(17,32);
        letter-spacing: .025em;

        a {
          &:after {}
        }
      }

      pre {
        margin: 20px 0;
        padding: 10px 10px;
        background-color: #242424;
        color: #fff;

        @include font-size(14,26);

        cursor: text;

        @media #{$small} {
          overflow: auto;
        }
      }

      ul,ol {
        margin: 20px 0;
        padding-left: 30px;
        list-style: circle;

        li {
          margin: 10px 0;
        }
      }

      table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;

        caption {
          padding: 8px 0;
          caption-side: bottom;
        }

        th,td {
          padding: 10px;
          border: 1px solid #dcd6d9;
        }

        th {
          background-color: #e7e7eb;
          text-align: center;
        }
      }

      strong {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 5px;
          border: 3px solid rgba(0,0,0,0.1);
        }
      }
    }

    &-meta {
      margin: 0;

      @media #{$small} {
        float: none;
      }

      &:before {
        content: '⋯';
        display: block;
        margin: 0 0 20px;
        text-align: center;
        color: #333;
      }

      ul {
        text-align: center;

        @media #{$small} {
          width: auto;
        }

        li {
          display: inline-block;

          @include font-size(12,12);

          vertical-align: top;

          @media #{$small} {
            display: block;
            margin: 0 0 10px;
          }

          &:after {
            content: '/';
            margin: 0 10px;

            @media #{$small} {
              content: '';
              margin: 0;
            }
          }

          &:last-child {
            &:after {
              content: '';
              margin: 0;
            }
          }
        }
      }

      &-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        @include font-size(12,24);

        &-heading {
          text-align: center;
          text-transform: uppercase;
        }

        &-wrapper {
          display: flex;
          justify-content: center;

          @media #{$small} {
            flex-wrap: wrap;
          }

          .tag {
            margin: 0 10px;

            a {
              display: block;
              padding: 5px 10px;
            }
          }
        }
      }
    }

    &-single {
      &-navigation {
        margin: 50px 0;

        @media #{$small} {
          margin: 30px 20px 80px;
        }

        &:after {
          content: '';
          display: block;
          clear: both;
        }

        .navi {
          position: relative;
          width: calc(100% / 2);

          &:last-of-type {
            margin-right: 0;
          }

          a {
            @include font-size(13,13);

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 8px;
              width: 11px;
              height: 11px;
              border-top: 1px solid #000;
              @include font-size(11,11);
              transition: all 0.2s ease-out;
            }
          }
        }
      }

      &-prev {
        float: left;
        text-align: left;

        a {
          justify-content: flex-start;
          padding-left: 21px;

          &:before {
            left: 0;
            border-left: 1px solid #000;
            transform: translate3d(0,0,0) rotate(-45deg);
          }

          &:hover {
            &:before {
              transform: translate3d(-5px,0,0) rotate(-45deg);
            }
          }
        }
      }

      &-next {
        float: right;
        text-align: right;

        a {
          justify-content: flex-end;
          padding-right: 21px;

          &:before {
            right: 0;
            border-right: 1px solid #000;
            transform: translate3d(0,0,0) rotate(45deg);
          }

          &:hover {
            &:before {
              transform: translate3d(5px,0,0) rotate(45deg);
            }
          }
        }
      }
    }
  }
}
