// Header
#global-header {
  position: relative;
  border-bottom: 1px solid #d0d0d4;
  z-index: 1;

  @media #{$small} {
    border-bottom: none;
  }

  #wellcome-to {
    padding: 22px 20px 20px;

    h1 {
      position: relative;
      display: inline-block;
      font-family: 'Metrophobic', serif;

      @include font-size(12,12);

      letter-spacing: .3em;
			text-transform: uppercase;
    }

    .lizard {
      position: absolute;
      top: -8px;
      right: 0;
      width: 20px;
    }
  }
}
