-
  var IMG_PATH = "/assets/images"

-
  var site_info = {
    'title': 'Rearrange',
    'subtitle': 'Sub Title',
    'type': 'article',
    'locale': 'ja_JP',
    'site_name': 'Rearrange',
    'fb_appid': 'appid123456789'
  }

-
  var global_menu = {
    '####': {
      'label': '###',
      'title': '###',
      'class': '###',
      'url': '#'
    }
  }
