script(src='//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src=dir+'assets/js/plugins/prism.js')
script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollTrigger.js")
script(src=dir+'assets/js/rearrange.js')
script(src=dir+'assets/js/labo.js')
