extends /layouts/_layout

block var
  - metas = {}
  - metas.type = 'website'
  - metas.locale = 'ja_JP'
  - metas.url = 'index.html'
  - metas.title = 'REARRANGE'
  - metas.description = 'Top Description'
  - metas.image = 'Image_Url'
  - metas.image_width = '1200'
  - metas.image_height = '500'
  - metas.fb_appid = 'appid_123456789000'
  - metas.card = 'summary_large_image'
  - metas.site = 'index.html'
  - metas.creator = '@'

block title
  title #{metas.title}

block append meta
  +meta(metas)
  include /includes/_inc_meta_facebook
  include /includes/_inc_meta_twitter
  +inc_meta_facebook(metas)
  +inc_meta_twitter(metas)

block navi
  -var pageID = 'page-top';

block content
  include /layouts/_header
  main
    section.story-archives
      h1.section-title Archives
      div.story-archives-wrapper
        each info_cat in info_category
          div.story-archives-block
            div.story-archives-category #{info_cat.name} <span>- 20 Articles -</span>
            - for (var i=1; i<10; i++)
              div.story-archives-list
                a(href="/post/" class="underline") 【個人事業者】持続化給付金の申請で確定申告書第一表（控え）に収受印がない場合<span>July 23, 2020</span>
