#loading
  .loading-text
    span.loading-text-words R
    span.loading-text-words E
    span.loading-text-words A
    span.loading-text-words R
    span.loading-text-words R
    span.loading-text-words A
    span.loading-text-words N
    span.loading-text-words G
    span.loading-text-words E
