header#global-header
  div#wellcome-to
    h1
      a(href="/" title="Rearrange") rearrange
      img(src=dir+"assets/img/lizard.png" class="lizard")
    include /component/_sound-wave
  div#menu
    a(href="#" class="menu-trigger")
      span
