header#global-header
  div#wellcome-to
    h1
      a(href="/" title="Rearrange") rearrange
    include /component/_lizard
    //- include /component/_sound-wave
  div#menu
    a(href="#" class="menu-trigger")
      span
include /component/_site-menu