extends /layouts/_layout

block var
  - metas = {}
  - metas.type = 'website'
  - metas.locale = 'ja_JP'
  - metas.url = 'index.html'
  - metas.title = 'Top Title'
  - metas.description = 'Top Description'
  - metas.image = 'Image_Url'
  - metas.image_width = '1200'
  - metas.image_height = '500'
  - metas.fb_appid = 'appid_123456789000'
  - metas.card = 'summary_large_image'
  - metas.site = 'index.html'
  - metas.creator = '@'

block title
  title #{metas.title}

block append meta
  +meta(metas)
  include /includes/_inc_meta_facebook
  include /includes/_inc_meta_twitter
  +inc_meta_facebook(metas)
  +inc_meta_twitter(metas)

block navi
  -var pageID = 'single';
  -var bodyClass = 'single';

block content
  include /layouts/_header

  main#labo
    div.labo-wrapper
      - for (var i=1; i<8; i++)
        - var x = i;
        section.labo-section
          h1 Secttion #{x}
          div.labo-section-wrapper
            div.labo-section-block.box.green
            div.labo-section-block.box.orange
            div.labo-section-block.box.green
            div.labo-section-block.box.orange
            div.labo-section-block.box.green
            div.labo-section-block.box.orange

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")
  script(src=dir+'assets/js/labo.js')
